.hangman {
  @include box(100vw, max(100%, calc(100vh - 5rem)));
  @include flex(cn, flex-start);

  .hangman-container {
    @include rel-position(2rem);
    @include box(fit-content);
    @include flex(cn);
    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 1);

    .hangman-wrapper {
      @include box(100%);
      @include flex(cn);
      background-color: white;
      user-select: none;
    }

    button {
      @include button(true, true) {
        background-color: $main-background;
        width: 12rem;
        height: 3rem;
        font-size: 2rem;
      }
      @include rel-position(0rem);

      &:hover {
        background-color: shade($main-background, 5%);
      }
    }

    .guess {
      @include text(true) {
        width: 3.5rem;
        height: 3rem;
        font-size: 1.75rem;
        text-align: center;
        @include rel-position(-1rem);
      }

      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .correct-guesses {
      @include box(100%, 5rem);
      @include flex(rn);
      column-gap: 1rem;

      .chars {
        @include box(3rem, 3rem);
        text-align: center;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }
}
