.widgets-dashboard {
  @include box(100vw, calc(100vh - 5rem));
  @include flex();

  a {
    width: 15rem;
    height: 15rem;
    color: red;
    text-decoration: none;

    .widget-item {
      // @include box(10vw, 20vh);
      background-color: lighten($card-background, 30%);
      border: 5px double $nav-background;
      font-size: 3rem;
      text-align: center;
      @include flex();
      color: white;
      flex: 1 0;
      max-width: 15rem;
      min-width: 15rem;
      min-height: 15rem;
      box-shadow: 0 0 10px rgba($color: black, $alpha: 0.5);
      text-shadow: 1px 1px black;
      transition: all 0.75s;

      &:hover {
        background-color: $card-background;
        border: 5px double white;
        box-shadow: inset 0 0 10px white;
        text-shadow: none;
      }
    }
  }
}
